# Global cache
**/Cache/**
**/cache/**
**.cache

# log files
**.log
**.log.*

# tmp files
*tmp*

###############
# LibreOffice #
###############

# remove backup files
dotfiles/.config/libreoffice/*/user/backup

###############
# PrusaSlicer #
###############

# remove unnecessary snapshots
dotfiles/.config/PrusaSlicer/snapshots/*

#############
# FileZilla #
#############

# contains ftp servers credentials
dotfiles/.config/filezilla/filezilla.xml

###########
# Blender #
###########

# ignore recent files
dotfiles/.config/blender/*/config/recent-files.txt

##########
# VSCode #
##########

# settings contains private keys
dotfiles/.config/Code/User/settings.json
